.cursor         {cursor: pointer}
img              {border: 0;}

/* Bootstrap Validator*/
.has-feedback .form-control-feedback {
    top: 25px;
    right: 0;
}
.form-horizontal .has-feedback .form-control-feedback {
    top: 0;
    right: 15px;
}
/* END Bootstrap Validator*/

.btn-lg-custom,
.btn-group-lg > .btn {
    padding: 5px 8px;
    font-size: 16px;
    line-height: 1.33;
    border-radius: 6px;
}

.font-lg-custom{
    font-size: 16px;
}

.btn-md-custom,
.btn-group-lg > .btn {
    padding: 5px 8px;
    font-size: 16px;
    line-height: 1.33;
    border-radius: 6px;
}

.witdh500{
    width: 500px;
}

.padding50{
    padding: 50px;
}
.margin50{
    margin: 50px;
}
.margin30{
    margin: 30px;
}

.margin10{
    margin: 10px;
}

.margin15{
    margin: 15px;
}

.width150{
    width:  150px;
}

