<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Banco X</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="url" content="http://www.guerreiroconsult.com.br/"/>
        <meta name="language" content="Portugues"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="reply-to" content=""/>
        <meta name="copyright" content=""/>
        <meta name="category" content="Internet"/>
        <meta name="Robots" content="Index,Follow"/>
        <meta name="author" content="TiMuitoSimples"/>
        <!-- INCLUDE head_js.html -->
        <!-- BEGIN JavaScript -->
        <script type='text/javascript' language='JavaScript1.2' src='{javascript}'></script>
        <!-- END JavaScript -->

        <!-- INCLUDE head_css.html -->

        <!-- BEGIN CSS -->
        <link type='text/css' rel='stylesheet' href='{css}' media="all" />
        <!-- END CSS -->
    </head>
    <body>
        {aplicacao}
    </body>
</html>
