<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
    <title>TV CORPORATIVA - Caixa Crescer</title>
    <!-- INCLUDE head_js.html -->
    <!-- BEGIN JavaScript -->
    <script type='text/javascript' language='JavaScript1.2' src='{javascript}'></script>
    <!-- END JavaScript -->
    <script src="http://www.youtube.com/player_api"></script>

    <!-- INCLUDE head_css.html -->

    <!-- BEGIN CSS -->
    <link type='text/css' rel='stylesheet' href='{css}' media="all" />
    <!-- END CSS -->
    <link type='text/css' rel='stylesheet' href='css/index.css' media="all" />
</head>
    <body>
        {aplicacao}
    </body>
</html>
