<!-- BEGIN BoxImagens -->
<div id="container">
<div id="gallery" class="ad-gallery">
      <div class="ad-image-wrapper">
      </div>
      <div class="ad-controls">
      </div>
      <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list">
              <!-- BEGIN Imagens -->
            <li>
              <a href="{img}">
                <img src="{thumb}" title="{titulo}" class="image{count}">
              </a>
            </li>
              <!-- END Imagens -->
          </ul>
        </div>
      </div>
    </div>
</div>
<!-- END BoxImagens -->

<!-- BEGIN SemImagens -->
<div>
    <div style="border: 1px solid #DBE0E8; margin: 0 15px 11px 0;">
        <img src="images/geral/no-image.gif" height="300">
    </div>
</div>
<!-- END SemImagens -->