<!-- BEGIN Conteudo -->
    <br>
    <h3>Imagens</h3>
    <br>
    <div class="">
        <form id="j_form_imagem" name="form_imagem" method="post" role="form" class="" enctype='multipart/form-data'>
            <input type="hidden" name="id_usuario_logado" id='j_id_usuario_logado' value="{id_usuario_logado}" />
            <input type="hidden" name="control"    value="Imagem"/>
            <input type="hidden" name="action"     value="fazerUpload"/>
            <input type="hidden" name="admin"      value="1"  />
            <input type="hidden" name="returnType" value="json" />
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Selecione sua imagem... <input type='file'   name='foto'  id="j_upload_foto">
                        </span>
                    </span>
                    <input type="text" class="form-control" id="j_arquivo_selecionado" readonly>
                </div>
            </div>
            <input type='submit' name='submit' id="j_btn_upload_imagem" class="btn btn-primary btn-lg"   value="enviar">
        </form>
    </div>

<div class="clearfix"></div>
<!-- BEGIN Conteudo_Imagens -->
    <div class="margin30">
        <div>
            <input type="hidden" id="j_imagens_selecionadas">
            <ul id="imgs">
                <!-- BEGIN Imagens -->
                <li id="{id_imagem}">
                    <div>
                        <div class="pull-left">
                            <input type="checkbox" name="checkInativarImagem" value="{id_imagem}">
                        </div>
                        <div class=" width150 imagem">
                                <div class="pics"><img src="{caminho_thumb}" class="mouse_move"></div>
                                <div class="nome_img">{nome}</div>
                        </div>
                    </div>
                </li>
                <!-- END Imagens -->
            </ul>
            <div class="clearfix"></div>
            <div class="pull-right">
                <input type="button" class="btn btn-danger btn-lg" value="Inativar selecionados" id="j_inativar">
            </div>
        </div>
        <!-- END Conteudo_Imagens -->
    </div>
<!-- BEGIN nenhumaImagem -->
<div class="margin30">
<p class="bg-danger nenhuma-imagem-encontrada">
    Nenhuma imagem encontrada.
</p>
</div>
<!-- END nenhumaImagem -->

<!-- END Conteudo -->

