/*
.processamentos{
    border:2px; 
    border-style: solid;
    border-color: #000;
}

.caixaProcessamento{
    border:2px; 
    border-style: solid;
    border-color: #000;
    width: 250px;
    float: left;
}

.seta{
    float: left;
    margin-top: 50px;
}*/



