<!-- BEGIN Login -->
<!--<div id="logo" class="login-info">Ping Pag</div>-->
<!--<div id="login-div">-->
    <!--<div id="mensagem_login"></div>-->
    <!--<div id="content">-->
        <!--<form id="login" name="login" method="POST" action="">-->
            <!--<label class="login-info">Usuário</label>-->
            <!--<input class="input required" name="user_login" type="text" id="user_login"/>-->
            <!--<div class="scape">&nbsp;</div>-->
            <!--<label class="login-info">Senha</label>-->
            <!--<input class="input required" name="senha_login" type="password" id="senha_login" />-->
            <!--<div class="scape">&nbsp;</div>-->
            <!--<div id="remember-forgot">-->
                <!--<div id="login-buttton">-->
                    <!--<input name="logar" src="images/login/login-button.jpg" type="image" alt="logar" id="j_autenticar"/>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->
<div>
    <h2 class="form-signin-heading">TV Corporativa</h2>
    <form class="form-signin" role="form" id="j_form_login" action="" method="post">
        <div class="form-group">
            <input type="input" class="form-control" placeholder="Usuário" name="user_login" id="user_login" autofocus>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Senha" name="senha_login" id="senha_login">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="j_autenticar">Entrar</button>
    </form>
</div>
<!-- END Login -->
