<!-- BEGIN Login -->
<div id="logo" class="login-info">Ping Pag</div>
<div id="login-div">
    <div id="mensagem_login"></div>
    <div id="content">
        <form id="login" name="login" method="POST" action="">
            <label class="login-info">Usuário</label>
            <input class="input required" name="user_login" type="text" id="user_login"/>
            <div class="scape">&nbsp;</div>
            <label class="login-info">Senha</label>
            <input class="input required" name="senha_login" type="password" id="senha_login" />
            <div class="scape">&nbsp;</div>
            <div id="remember-forgot">
                <div id="login-buttton">
                    <input name="logar" src="images/login/login-button.jpg" type="image" alt="logar" id="j_autenticar"/>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END Login -->
